<!-- [ngClass]="{'card': tacno}" -->
<div class="card" [ngStyle]="{ border: value }">
  <img
    [src]="product.image"
    alt="Telefon"
    width="90%"
    height="90%"
    class="image"
  />
  <h1>{{ product.title }}</h1>
  <p class="price" appRedEl>{{ product.price }}</p>
  <p class="description">{{ product.description }}</p>
  <p>
    <span>Na stanju: :{{ product.supplies }}</span>
    <button (click)="onAddToCart()">Dodaj u korpu</button>
    <button (click)="onRemoveFromCart()">Izbrisi iz korpe</button>
  </p>
</div>
